{% extends 'base.html' %}

{% block title %}
My Posts
{% endblock title %}

{% block main %}
<div class="container m-5">
    <div class="col-md-12 col-lg-12">
        {% for post in post_list %}
        <article class="post vt-post my-5">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <div class="post-type post-img">
                        <a href="#"><img src="{{ post.image.url }}" alt="image post"
                            class="img-fluid" style="width: 12rem;"></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
                    <div class="caption">
                        <h2 class="md-heading"><a href="#">{{ post.title|capfirst }}</a></h2>
                        <p style="font-size:1.5rem;">{{ post.summary|truncatewords:15|capfirst }}</p>
                        <a class="" href="#" role="button" style="font-size:1.5rem;">Read More</a> </div>
                </div>
                {% if post.draft %}
                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                    <form action="{% url 'blog:publish-post' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ post.id }}">
                        <button type="submit" class="btn btn-primary">Publish</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </article>
        {% endfor %}  
    </div>
</div>
{% endblock main %}